ISOGEN-FILES   ISOGEN.FLS
UNITS-BORE   MM
UNITS-CO-ORDS   MM
UNITS-WEIGHT  KGS
PIPELINE-REFERENCE   80-DEMO
    PIPING-SPEC   A1A
PIPE
    END-POINT    0 0 1000 80
    END-POINT    2000 0 1000 80
    SKEY     PIPE
    ITEM-CODE   PA100
    ITEM-DESCRIPTION   PIPE 80 SCH40 ANSI B36.10
ELBOW
    END-POINT    2000 0 1000 80
    END-POINT    2140 140 1000 80
    CENTRE-POINT   2140 0 1000
    SKEY     ELSW
    ITEM-CODE   EL80
    ITEM-DESCRIPTION   ELBOW 80 LR 90 SCH40
PIPE
    END-POINT    2140 140 1000 80
    END-POINT    2140 2000 1000 80
    SKEY     PIPE
    ITEM-CODE   PA100
    ITEM-DESCRIPTION   PIPE 80 SCH40 ANSI B36.10
VALVE
    END-POINT    2140 2000 1000 80
    END-POINT    2140 2360 1000 80
    SKEY     VGSW
    ITEM-CODE   VG80
    ITEM-DESCRIPTION   GATE VALVE 80 RF 150LB
PIPE
    END-POINT    2140 2360 1000 80
    END-POINT    2140 3600 1000 80
    SKEY     PIPE
    ITEM-CODE   PA100
    ITEM-DESCRIPTION   PIPE 80 SCH40 ANSI B36.10
MATERIALS
ITEM-CODE    PA100
    DESCRIPTION    PIPE 80 SCH40 ANSI B36.10
